{% extends 'layouts/base.html' %}

{% block title %} GrandPy, le papy robot qui raconte des histoires {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col" id="header">
                <div class="row justify-content-center">
                    <div class="col">
                        <img class="header-img" src="/static/img/papy_img.png" alt="papy-robot">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1 class="display-4">GrandPy, le papy robot</h1>
                        <p class="lead">Le robot qui se prend pour ton papy et te raconte des histoires à propos des lieux que tu lui indiques.</p>
                        <hr class="my-4">
                        <p>Entre l'adresse d'un lieu...et en avant les histoires !</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row scroll" id="chat-wrapper">
            <div class="col container bg-info" id="chat-box">
                <div class="row bot-wrapper justify-content-start">
                    <div class="col-xs-12 col-md-8 col-lg-8">
                        <div class="row bot">
                            <div class="col-xs-4 col-md-0 col-lg-0"></div>
                            <div class="col-xs-4 col-md-3 col-lg-2">
                                <img class="card-img-top" src="/static/img/papy_img.png" alt="papy-robot">
                            </div>
                            <div class="col-xs-4 col-md-0 col-lg-0"></div>
                            <div class="col-xs-12 col-md-9 col-lg-10 initial-time">
                                <h5 class="card-title">GrandPy</h5>
                                <p class="card-text">Que puis-je pour toi mon enfant ?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 fixed-bottom navbar-light bg-dark" id="footer">
                <form class="form-inline container">
                    <h4 class="col-xs-12 col-md-12 col-lg-12 text-light">Pose ta question à GrandPy !</h4>
                    <div class="col-xs-12 col-md-12 col-lg-12 form-group my-2">
                        <label class="sr-only" for="questionInput">Question</label>
                        <input type="text" class="col-xs-12 col-md-8 col-lg-8 form-control" id="questionInput" placeholder="Lieu recherché...">
                        <button type="submit" class="col-xs-12 col-md-4 col-lg-4 btn btn-primary">Je demande à Papy </button>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 my-2 text-center">
                        <a class="text-light small" href="https://github.com/GuiThink" target="_blank">Guillaume Pont | Suivez-moi sur GitHub !</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
